<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.imperva.apisecurity" level="TRACE" additivity="true"/>
    <logger name="org.apache.http" level="INFO" additivity="true"/>
    <logger name="org.apache.http.client.protocol" level="ERROR" additivity="true"/>

</configuration>